.content *{
    color: black;
}

ol li{
    margin-left: 40px;
}
ol img{
    margin-left: 40px;
}

.restricao{
    background-color:#f5f5f5;
}
.formBusca{
    position: relative;
}

#btnBusca{
    position: absolute;
    top: 0;
    right: 0;
    color: blue;
}